﻿
<form id="form1" method="post" action="/api/values" enctype="application/x-www-form-urlencoded">
    <div>
        <label for="name">Name</label>
    </div>
    <div>
        <input name="name" type="text" />
    </div>
    <div>
        <label for="number">Number</label>
    </div>
    <div>
        <input name="number" type="text" />
    </div>
    <div>
        <input type="submit" value="Submit" />
    </div>
   
    <p class="result"></p>
    <script type="text/javascript">

        $(document).ready(function() {
            $("#form1").submit(function () {
                var url = "/api/values";
                $.post(url, $('#form1').serialize())
                    .success(function (response) {
                        var name = response.name;
                        var numberInWords = response.number;
                        //var
                        
                        var n = $('<div/>', { text: "Output: " + name });
                        var num = $('<div/>', { text: '"' + numberInWords + '"'});
                        $('.result').html(n).append(num);
                    })
                    .error(function (response) {
                        var message = response.responseJSON.message;
                        $('.result').html(message);
                    });

                return false;
            });
        });

       
    </script>
</form>